<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="ORCA Document Query, a digital humanities tool for searching and managing documents."
    />
    <meta name="theme-color" content="#6495ed" />
    <meta property="og:title" content="ORCA Document Query" />
    <meta
      property="og:description"
      content="AI-powered digital humanities stack for searching and managing documents."
    />
    <!--<meta property="og:image" content="/path/to/social-image.png">-->
    <meta property="og:url" content="https://orca.wgws.dev" />
    <!--<meta name="twitter:card" content="summary_large_image">-->
    <title>ORCA Search</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" crossorigin href="https://fonts.gstatic.com" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="img/icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="img/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="img/icons/favicon-16x16.png"
    />
    <link rel="icon" type="image/ico" sizes="48x48" href="img/icons/favicon.ico" />
    <link rel="manifest" href="site.webmanifest" />
  </head>
  <body>
    <!-- Header -->
    <header class="header container mt-5">
      <hgroup class="header__title">
        <h1 class="header__title-heading">
          ORCA Doc<span class="on-big">ument</span> Query
        </h1>
        <p class="header__title-subheading text-nowrap">
          <span class="header__title-subheading-loading on-disconnect"
            >Connecting&hellip;<span class="spinner"></span
          ></span>
          <span class="header__title-subheading-loaded on-connect hidden"
            ><span class="on-big">Searching </span><span class="on-small">📚</span
            ><span class="header__corpus-total">271,102</span> documents</span
          >
        </p>
      </hgroup>
      <form class="header__search input-group on-connect hidden" rel="search">
        <input class="header__search-input form-control" type="text" required />
        <button class="header__search-submit btn btn-primary" type="submit" disabled>
          🔍<span class="on-big">&nbsp;Search</span>
        </button>
      </form>
      <nav class="header__nav my-3">
        <div class="header__menu-item">
          <a
            class="header__menu-link"
            rel="noopener noreferrer"
            target="_blank"
            href="<%= API_URL %>"
            >⚙️ <i>View raw JSON output</i></a
          >
        </div>
        <div class="header__menu-item">
          <a
            class="header__menu-link"
            rel="noopener noreferrer"
            target="_blank"
            href="<%= LOG_URL %>"
            >👷‍♀️ <i>View debug log</i></a
          >
        </div>
      </nav>
    </header>

    <!-- Main; search results filled dynamically -->
    <main class="main container">
      <div class="main__row grid"></div>
    </main>

    <!-- Footer -->
    <footer class="footer container px-3">
      <form class="footer__options form-check my-3">
        <label class="footer__options-enable-polling-label form-check-label">
          <input
            class="footer__options-enable-polling form-check-input"
            type="checkbox"
            checked
          />
          Automatic polling
        </label>
      </form>
      <section class="footer__details my-3">
        <small>
          <div class="footer__connection">
            API status:
            <span class="footer__connection-connected on-connect hidden"
              >🟢 Connected</span
            >
            <span class="footer__connection-disconnected on-disconnect"
              >🔴 Disconnected</span
            >
          </div>
          <div class="footer__api on-connect hidden">
            API version:
            <span class="footer__api-version"></span>
          </div>
          <div class="footer__checksum on-connect hidden">
            Current corpus:
            <code class="footer__checksum-value"></code>
          </div>
          <div class="footer__last-polled on-connect hidden">
            Last poll:
            <time class="footer__last-polled-timestamp"></time>
          </div>
        </small>
      </section>
      <section class="footer__about my-3">
        <div>ORCA Document Query by kwg</div>
        <div>
          <a class="" target="_blank" href="https://github.com/kwgws/orca"
            >👩‍💻 <i>https://github.com/kwgws/orca</i></a
          >
        </div>
        <br />
        <div>
          <a class="mb-5" href="#">☝️ <i>Back to top</i></a>
        </div>
      </section>
    </footer>
  </body>
</html>
